@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
@model YiSha.Model.Result.OrderManage.Response_OrderPrintIssue;

<div class="wrapper animated fadeInRight">
    <div id="tb_print">
        <style>
            .tb_print {
                text-align: center;
                border-collapse: collapse;
                border: 1px solid #000;
                width: 710px;
                font-size: 12px;
            }

                .tb_print td {
                    border: 1px solid #000;
                    line-height: 20px;
                }

                .tb_print .remark {
                    text-align: left;
                    vertical-align: top;
                    text-indent: 10px;
                }
            .tb_left {
                text-align:left;
                text-indent:10px;
            }
        </style>
        <table class="tb_print">
            <tr>
                <td colspan="8">
                    <h3>
                        @(Model.Title)
                    </h3>
                </td>
            </tr>
            <tr>
                <td>日期：</td>
                <td colspan="3" class="tb_left">
                    @(Model.PrintDay)
                </td>
                <td>单号：</td>
                <td colspan="3" class="tb_left">
                    @(Model.PrintOrderNumber)
                </td>
            </tr>
            <tr>
                <td>客户名称：</td>
                <td colspan="3" class="tb_left">
                    @(Model.CustName)
                </td>
                <td>电话：</td>
                <td colspan="3" class="tb_left">
                    @(Model.LinkPhone)
                </td>
            </tr>
            <tr>
                <td>区域：</td>
                <td colspan="3" class="tb_left">
                </td>
                <td>传真：</td>
                <td colspan="3" class="tb_left">
                </td>
            </tr>
            <tr>
                <td>联系人：</td>
                <td colspan="3" class="tb_left">
                    @(Model.LinkName)
                </td>
                <td>邮箱：</td>
                <td colspan="3" class="tb_left">
                </td>
            </tr>
            <tr>
                <td>收货地址：</td>
                <td colspan="7" class="tb_left">
                    @(Model.ReciveAddress)
                </td>
            </tr>
            <tr>
                <td>序号</td>
                <td>产品名称</td>
                <td>产品型号</td>
                <td>规格描述</td>
                <td>单价(RMB)</td>
                <td>数量</td>
                <td>单位</td>
                <td>合计(RMB)</td>
            </tr>
            <!---循环打印产品-->
            @{ 
                int i = 0;
                string saleMan = "";
                string sentMan = "";
                string expressCompany = "";
                string expressNumber = "";
             }

            @foreach (var obj in Model.ListProduct)
            {
                i++;
                <tr>
                    <td>@(i)</td>
                    <td>@(obj.MaterielTxt)</td>
                    <td>@(obj.MaterielType)</td>
                    <td>@(obj.MaterielDesc)</td>
                    <td>@string.Format("{0:0.00}", obj.SalePrice)</td>
                    <td>@(obj.SaleNum)</td>
                    <td>@(obj.MaterielUnite)</td>
                    <td>@string.Format("{0:0.00}", obj.TotalPrice)</td>
                </tr>

                saleMan=obj.SaleTxt;
                sentMan=obj.SentManTxt;
                expressCompany = obj.ExpressCompany;
                expressNumber = obj.ExpressNumber;
            }

            <tr>
                <td rowspan="2" colspan="6" class="remark">
                    <span>备注:</span>
                    <span>@(Model.Remark)   （快递公司：@(expressCompany) ，快递单号：@(expressNumber)）</span>
                </td>
                <td>合计(RMB)</td>
                <td>
                    @string.Format("{0:0.00}", Model.TotalMoney)
                </td>
            </tr>
            <tr>
                <td>已付(RMB)</td>
                <td>
                    @string.Format("{0:0.00}", Model.FactMoney)
                </td>
            </tr>
            <tr>
                <td rowspan="2" colspan="6" class="remark">
                    <div>开户银行:  @(Model.SysIssueConfig.SysBankName)</div>
                    <div>开户名称： @(Model.SysIssueConfig.SysBankMan) 开户账号: @(Model.SysIssueConfig.SysBankCardNo)</div>
                </td>
                <td>余款(RMB)</td>
                <td>
                    @string.Format("{0:0.00}", Model.YuMoney)
                </td>
            </tr>
            <tr>
                <td>打款方式</td>
                <td>对私账户</td>
            </tr>

            <tr>
                <td colspan="2">销售员</td>
                <td>审批</td>
                <td>财务审批</td>
                <td>生产人</td>
                <td colspan="2">发货人</td>
                <td>发货日期</td>
            </tr>
            <tr>
                <td colspan="2">@(saleMan)</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td colspan="2">@(sentMan)</td>
                <td> @(Model.PrintDay)</td>
            </tr>

        </table>
    </div>
</div>

<script type="text/javascript">

    function saveForm(index) {
        $("#tb_print").printArea();
        window.setTimeout(function () {

            var printOrderNumber = '@Model.PrintOrderNumber';
            var ids = ys.request("ids");
            updatePrintOrderNumbe(index, ids, printOrderNumber);

        }, 1000 * 6);

    }
    function updatePrintOrderNumbe(index,ids, printOrderNumber) {
         //string ids, string printOrderNumber
        ys.ajax({
            url: '@Url.Content("~/OrderManage/OrderTerIssue/UpdatePrintOrderNumbe")',
            type: 'post',
            data: {
                ids: ids,
                printOrderNumber: printOrderNumber,
                custName: '@Model.CustName',
                linkName: '@Model.LinkName',
                printDay:'@Model.PrintDay'
            },
            success: function (obj) {
                if (obj.Tag == 1) {
                    ys.msgSuccess(obj.Message);
                    parent.layer.close(index);
                }
                else {
                    ys.msgError(obj.Message);
                }
            }
        });
    }
</script>

