@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/css/fileinput.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/js/fileinput.min.js"))
}
<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="tabs-container">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-1">基本信息</a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#tab-2">收件人信息</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-3">审核</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-4">物流状态</a>
                    </li>
                </ul>
                <div class="tab-content ">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">

                            <div class="form-group">
                                <label class="col-sm-2 control-label ">物料<font class="red"> *</font></label>
                                <div class="col-sm-8">
                                    <input id="materielTxt" col="MaterielTxt" onfocus="this.blur()" type="text" class="form-control" />
                                    <input type="hidden" id="materielId" col="MaterielId" />
                                </div>
                                <div class="col-sm-2 roleCode_op">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="choosePage('MaterielTxt','materielId','materielTxt')">选 择</button><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">销售人<font class="red"> *</font></label>
                                <div class="col-sm-8">
                                    <input id="saleTxt" col="SaleTxt" type="text" onfocus="this.blur()" class="form-control" />
                                    <input type="hidden" id="saleId" col="SaleId" />
                                </div>
                                <div class="col-sm-2 roleCode_op">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="setParent()">选 择</button><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">出货量<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <input id="saleNum" col="SaleNum" type="text" onkeyup="this.value=CheckIsFormatNumber(this.value, 0)" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">销售价<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <input id="salePrice" col="SalePrice" onkeyup="this.value=CheckIsFormatNumber(this.value, 2)" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">拿货价<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <input id="srcPrice" col="SrcPrice" onkeyup="this.value=CheckIsFormatNumber(this.value, 2)" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">客户付款日期<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <input id="buyDay" col="BuyDay"  type="text" class="form-control" />
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-sm-2 control-label">实收款<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <input id="factMoney" col="FactMoney" onkeyup="this.value=CheckIsFormatNumber(this.value, 2)" type="text" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label ">售卖区域<font class="red"> *</font></label>
                                <div class="col-sm-8">
                                    <textarea id="zone" col="Zone" onfocus="this.blur()" class="form-control" style="height:60px"></textarea>
                                </div>
                                <div class="col-sm-2 roleCode_op">
                                    <button type="button" class="btn btn-primary btn-sm roleCode_op" onclick="setZone()">设 置</button><br />
                                    <button type="button" class="btn btn-default btn-sm roleCode_op" onclick="clearZone()">清 空</button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">提货方式<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <div id="takeType" col="TakeType"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">姓名<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <input id="reciveName" col="ReciveName" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">手机号<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <input id="recivePhone" col="RecivePhone" onkeyup="this.value=CheckIsFormatNumber(this.value, 0)" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">收件地址<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <input id="reciveAddress" col="ReciveAddress" type="text" class="form-control" />
                                </div>
                                <div class="col-sm-2 roleCode_op">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="setAddress()">选 择</button><br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-3" class="tab-pane">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">财务审核<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <div id="shenHeManId" col="ShenHeManId"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">审核操作<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_2" id="shenHeStatus" col="ShenHeStatus"></div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">凭据上传</label>
                                <div class="col-sm-8 roleCode_2">
                                    <input id="fileinput_PayMoneyImg" type="file">
                                    <input type="hidden" id="payMoneyImg" col="PayMoneyImg" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label ">审核消息</label>
                                <div class="col-sm-8 roleCode_2">
                                    <textarea id="shenHeMsg" col="ShenHeMsg" class="form-control" style="height:60px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab-4" class="tab-pane">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">售后发货<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <div id="sentManId" col="SentManId"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">发货日期<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_op">
                                    <input id="sentDay" col="SentDay" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">物流公司<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_3">
                                    <input id="expressCompany" col="ExpressCompany" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">快递单号<font class="red"> *</font></label>
                                <div class="col-sm-8 roleCode_3" ">
                                    <input id="expressNumber" col="ExpressNumber" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">发货备注</label>
                                <div class="col-sm-8 roleCode_3 ">
                                    <textarea id="remark" col="Remark" class="form-control" style="height:60px"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    var loginId = "@ViewBag.OperatorInfo.UserId";
    var roldeCodes = "@ViewBag.OperatorInfo.RoleCodes";

    var cur_fomr_data = null;

    $(function () {
        
        laydate.render({ elem: '#sentDay', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#buyDay', format: 'yyyy-MM-dd' });
        $("#shenHeStatus").ysRadioBox({ data: ys.getJson(@Html.Raw(typeof(ShenHeStatusEnum).EnumToDictionaryString())) });
        $("#takeType").ysComboBox({ data: ys.getJson(@Html.Raw(typeof(TakeTypeEnum).EnumToDictionaryString())) });
        
        LoadShenHeMan();
        LoadSentMan();

        getForm();
        //表单校验
        $('#form').validate({
            rules: {
                materielTxt: { required: true },
                saleTxt: { required: true },
                saleNum: { required: true },
                salePrice: { required: true },
                srcPrice: { required: true },
                factMoney: { required: true },

                zone: { required: true },

                reciveName: { required: true },
                recivePhone: { required: true },
                reciveAddress: { required: true },
                
                takeType_select: { required: true },
                shenHeManId_select: { required: true },
                sentManId_select: { required: true },
            }
        });
        //上传图片成功回掉函数
        $('#fileinput_PayMoneyImg').on('fileuploaded', function (event, data, previewId, index) {
            if (data.filescount > 0) {
                $("#payMoneyImg").val(data.response.Data);
            }
        });


    });

    //加载审核人
    function LoadShenHeMan() {
        $("#shenHeManId").ysComboBox({
            url: '@Url.Content("~/OrganizationManage/User/GetListByRoleCode")' +"?roleCode=2",
            key: "Id",
            value: "RealName",
            class: "form-control",
         });
    }
    //加载发货人 sentManId
    function LoadSentMan() {
          $("#sentManId").ysComboBox({
            url: '@Url.Content("~/OrganizationManage/User/GetListByRoleCode")' +"?roleCode=3",
            key: "Id",
            value: "RealName",
            class: "form-control",
         });
    }

    /**设置上级 */
    function setParent() {
        ys.openDialog({
            title:  "设置上级",
            content: '@Url.Content("~/OrganizationManage/User/UserIndexSelect")',
            width: "868px",
            height: "470px",
             callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                 var select_data = iframeWin.chooseUserOK();
                 if (IsNullEmpty(select_data.ids)) {
                    ys.alertError('请先选择用户,再操作');
                }
                else {
                    //设置 操作人 saleId
                     $("#saleId").val(select_data.ids);
                     $("#saleTxt").val(select_data.txts);
                     layer.close(index);

                }
            }
        });

    }

    /**设置地址 */
    function setAddress() {
        ys.openDialog({
            title:  "设置地址",
            content: '@Url.Content("~/SystemManage/Area/AreaAddressSelect")' + "?curUserId=" + $("#saleId").val(),
            width: "868px",
            height: "430px",
             callback: function (index, layero) {
                 var iframeWin = window[layero.find('iframe')[0]['name']];
                 var select_data = iframeWin.getSelectZone();
                 $("#reciveAddress").val(select_data.txts);
                 //getSelectZone
                 layer.close(index);
            }
        });

    }

    /**设置代理区域 */
    function setZone() {
        ys.openDialog({
            title:  "设置代理区域",
            content: '@Url.Content("~/SystemManage/Area/AreaIndexSelect")' + "?curUserId=" + $("#saleId").val(),
            width: "868px",
            height: "430px",
             callback: function (index, layero) {
                 var iframeWin = window[layero.find('iframe')[0]['name']];
                 var select_data = iframeWin.getSelectZone();
                 $("#zone").val(select_data.txts);
                 //getSelectZone
                 layer.close(index);
            }
        });

    }


    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/OrderManage/OrderTerIssue/GetFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $('#form').setWebControls(obj.Data);

                        cur_fomr_data = obj.Data;

                        InitImg(obj.Data.PayMoneyImg);
                        SetOperatePannel(roldeCodes, "2", $("#shenHeManId").ysComboBox('getValue'));
                        SetOperatePannel(roldeCodes, "3", $("#sentManId").ysComboBox('getValue'));
                        SetOpElmentIsEnable(loginId, obj.Data.BaseCreatorId, $("#shenHeStatus").ysRadioBox('getValue'));
                    }
                }
            });
        }
        else {
            var defaultData = {};
            $('#form').setWebControls(defaultData);
            InitImg("");
            SetOperatePannel(roldeCodes, "2","");
            SetOperatePannel(roldeCodes, "3","");
        }
    }



    function saveForm(index) {
        if ($('#form').validate().form()) {
            var postData = $('#form').getWebControls({ Id: id });
            if (cur_fomr_data != null) {
                $.extend(cur_fomr_data, postData);
            }
            else {
                cur_fomr_data = postData;
            }

            ys.ajax({
                url: '@Url.Content("~/OrderManage/OrderTerIssue/SaveFormJson")',
                type: 'post',
                data: cur_fomr_data,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }


    function choosePage(filed,hideId,txtId) {
        var url = "";
        var title = "";
        if (filed == "MaterielTxt") {
            url = '@Url.Content("~/OrderManage/OrderMateriel/OrderMaterielIndexSelect")';
            title = "选择物料";
        }
        ys.openDialog({
            title: title,
            content: url,
            width: "868px",
            height: "470px",
             callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                 var select_data = iframeWin.chooseUserOK();
                 if (IsNullEmpty(select_data.ids)) {
                    ys.alertError('请先选择用户,再操作');
                }
                else {
                    //设置 操作人
                     $("#" + hideId).val(select_data.ids);
                     $("#" + txtId).val(select_data.txts);
                     layer.close(index);

                }
            }
        });
    }

    /**
     * 初始化数据
     * param img
     */
    function InitImg(img) {
        var img_es = [];
        if (!IsNullEmpty(img)) {
            img = '@GlobalContext.SystemConfig.ApiSite' + img;
            img_es.push(img);
        }
        $("#fileinput_PayMoneyImg").fileinput({
            language: 'zh',
          //  allowedFileTypes: ['jpg', 'jpeg', 'png'],
            'uploadUrl': '@GlobalContext.SystemConfig.ApiSite' + '/File/UploadFile?fileModule=@UploadFileType.Money.ParseToInt()',
            overwriteInitial: false,
            initialPreviewAsData: true,
            initialPreview: img_es
         });

    }
</script>

