@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/css/fileinput.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/js/fileinput.min.js"))
}
<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-2 control-label ">公司<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="companyName" col="CompanyName" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">热线<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="tel" col="Tel" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">技术支持<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="tecklownloge" col="Tecklownloge" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">版权<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="copyright" col="Copyright" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">启动图</label>
            <div class="col-sm-8 roleCode_2">
                <input id="fileinput_WelComeImgs" type="file">
                <input type="hidden" id="welComeImgs" col="WelComeImgs" />
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        getForm();

        $('#form').validate({
            rules: {
                companyName: { required: true },
                tel: { required: true },
                tecklownloge: { required: true },
                copyright: { required: true },
            }
        });
        //上传图片成功回掉函数
        $('#fileinput_WelComeImgs').on('fileuploaded', function (event, data, previewId, index) {
            if (data.filescount > 0) {
                var imgs = $("#welComeImgs").val();
                imgs += "," + data.response.Data;
                $("#welComeImgs").val(imgs);
            }
        });


    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/SystemManage/SysAppConfig/GetFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $('#form').setWebControls(obj.Data);
                        InitImg(obj.Data.WelComeImgList);
                    }
                }
            });
        }
        else {
            var defaultData = {};
            InitImg([]);
            $('#form').setWebControls(defaultData);
        }
    }

    function saveForm(index) {
        if ($('#form').validate().form()) {
            var postData = $('#form').getWebControls({ Id: id });
            ys.ajax({
                url: '@Url.Content("~/SystemManage/SysAppConfig/SaveFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }

    /**
     * 初始化数据
     * param img
     */
    function InitImg(img_array) {
        var img_es = [];
        if (img_array.length > 0) {
            for (var i = 0; i < img_array.length; i++) {
                var img = '@GlobalContext.SystemConfig.ApiSite' + img_array[i];
                img_es.push(img);
            }
        }
        $("#fileinput_WelComeImgs").fileinput({
            language: 'zh',
          //  allowedFileTypes: ['jpg', 'jpeg', 'png'],
            'uploadUrl': '@GlobalContext.SystemConfig.ApiSite' + '/File/UploadFile?fileModule=@UploadFileType.News.ParseToInt()',
            overwriteInitial: false,
            initialPreviewAsData: true,
            initialPreview: img_es
         });

    }
</script>

