@{
    Layout = "~/Views/Shared/_Index.cshtml";
 }
<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        物料：<input id="materielTxt" col="MaterielTxt" type="text" />
                    </li>
                    <li>
                        采购人：<input id="buyTxt" col="MatBuyTxterielTxt" type="text" />
                    </li>
                    <li>
                        审核步骤：<span id="step" col="Step"></span>
                    </li>
                    <li>
                        审核状态：<span id="shenHeStatus" col="ShenHeStatus"></span>
                    </li>

                    <li class="select-time">
                        <label>创建时间： </label>
                        <input id="startTime" col="StartTime" type="text" class="time-input" placeholder="开始时间" />
                        <span>-</span>
                        <input id="endTime" col="EndTime" type="text" class="time-input" placeholder="结束时间" />
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 删除</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd' });
        $("#step").ysComboBox({
            width:100,
            data: ys.getJson(@Html.Raw(typeof(InPutStepEnum).EnumToDictionaryString()))
        });
        $("#shenHeStatus").ysComboBox({
            width: 100,
            data: ys.getJson(@Html.Raw(typeof(ShenHeStatusEnum).EnumToDictionaryString()))
        });

        initGrid();
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/OrderManage/OrderTerInput/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'MaterielTxt', title: '物料' },
                { field: 'BuyTxt', title: '采购人' },
                { field: 'BuyNum', title: '采购量' },
                { field: 'BuyPrice', title: '单价' },
                { field: 'TotalPrice', title: '总价' },
                { field: 'ShenHeManTxt', title: '审核人' },
                {
                    field: 'Step', title: '流程步骤',
                    formatter: function (value, row, index) {
                        //步骤  0:草稿,1:财务审核,2:售后发货,3:流程结束
                        var html = "流程结束";
                        if (value == 0) {
                            html = "草稿";
                        }
                        else if (value == 1) {
                            html = "财务审核";
                        }
                        return html;
                    }
                },
                {
                    field: 'ShenHeStatus', title: '审核状态',
                    formatter: function (value, row, index) {
                        //审核状态 0未审核,1:审核通过,2拒绝
                        var html = "拒绝";
                        if (value == 0) {
                            html = "未审核";
                        }
                        else if (value == 1) {
                            html = "审核通过";
                        }
                        return html;
                    }
                },
                { field: 'SupplierTxt', title: '供应商' },
                { field: 'BaseCreatorTxt', title: '创建人' },
                {
                    field: 'BaseCreateTime', title: '创建时间', align: "left",
                    formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                },
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $('#gridTable').bootstrapTable('getSelections');
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? '编辑' : '添加',
            content: '@Url.Content("~/OrderManage/OrderTerInput/OrderTerInputForm")' + '?id=' + id,
            width: "1000px",
            height: "570px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function deleteForm() {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm('确认要删除选中的' + selectedRow.length + '条数据吗？', function () {
                var ids = ys.getIds(selectedRow);
                ys.ajax({
                    url: '@Url.Content("~/OrderManage/OrderTerInput/DeleteFormJson")' + '?ids=' + ids,
                    type: 'post',
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }
</script>
