@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/css/fileinput.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/js/fileinput.min.js"))
}
<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="tabs-container">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#tab-1">基本信息</a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" href="#tab-2">审核信息</a>
                    </li>                </ul>
                <div class="tab-content ">
                    <div id="tab-1" class="tab-pane active">
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">物料<font class="red"> *</font></label>
                                <div class="col-sm-8">
                                    <input id="materielTxt" col="MaterielTxt" onfocus="this.blur()" type="text" class="form-control" />
                                    <input type="hidden" id="materielId" col="MaterielId" />
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="choosePage('MaterielTxt','materielId','materielTxt')">选 择</button><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">采购人<font class="red"> *</font></label>
                                <div class="col-sm-8">
                                    <input id="buyTxt" col="BuyTxt" onfocus="this.blur()" type="text" class="form-control" />
                                    <input type="hidden" id="buyId" col="BuyId" />
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="choosePage('BuyTxt','buyId','buyTxt')">选 择</button><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">供应商<font class="red"> *</font></label>
                                <div class="col-sm-8">
                                    <input id="supplierTxt" col="SupplierTxt" onfocus="this.blur()" type="text" class="form-control" />
                                    <input type="hidden" id="supplierId" col="SupplierId" />
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-primary btn-sm" onclick="choosePage('SupplierTxt','supplierId','supplierTxt')">选 择</button><br />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">采购量<font class="red"> *</font></label>
                                <div class="col-sm-8">
                                    <input id="buyNum" col="BuyNum" type="text" onkeyup="this.value=CheckIsFormatNumber(this.value, 0)" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label ">进货价<font class="red"> *</font></label>
                                <div class="col-sm-8">
                                    <input id="buyPrice" col="BuyPrice" type="text" onkeyup="this.value=CheckIsFormatNumber(this.value, 2)" class="form-control" />
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="tab-2" class="tab-pane">
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">审核人<font class="red"> *</font></label>
                                    <div class="col-sm-8">
                                        <input id="shenHeManTxt" col="ShenHeManTxt" onfocus="this.blur()" type="text" class="form-control" />
                                        <input type="hidden" id="shenHeManId" col="ShenHeManId" />
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" class="btn btn-primary btn-sm" onclick="choosePage('MaterielTxt','materielId','materielTxt')">选 择</button><br />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">凭据上传</label>
                                    <div class="col-sm-8">
                                        <input id="fileinput-demo-2" type="file">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">审核操作<font class="red"> *</font></label>
                                    <div class="col-sm-8" id="shenHeStatus" col="ShenHeStatus"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label ">审核消息<font class="red"> *</font></label>
                                    <div class="col-sm-8">
                                        <textarea id="shenHeMsg" col="ShenHeMsg" class="form-control" style="height:60px"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>

</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
         $("#shenHeStatus").ysRadioBox({ data: ys.getJson(@Html.Raw(typeof(ShenHeStatusEnum).EnumToDictionaryString())) });

         $("#fileinput-demo-2").fileinput({
            language: 'zh',
            'uploadUrl': '@GlobalContext.SystemConfig.ApiSite' + '/File/UploadFile?fileModule=@UploadFileType.Money.ParseToInt()',
            overwriteInitial: false,
            initialPreviewAsData: true,
            initialPreview: ['@Url.Content("~/image/portrait.png")']
         });

        getForm();

        $('#form').validate({
            rules: {
                materielTxt: { required: true },
                buyTxt: { required: true },
                supplierTxt: { required: true },
                buyNum: { required: true },
                buyPrice: { required: true },
                shenHeManId: { required: true },
                shenHeStatus: { required: true },
            }
        });
    });

    function getForm() {
        if (id > 0) {
            ys.ajax({
                url: '@Url.Content("~/OrderManage/OrderTerInput/GetFormJson")' + '?id=' + id,
                type: 'get',
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $('#form').setWebControls(obj.Data);
                    }
                }
            });
        }
        else {
            var defaultData = {};
            $('#form').setWebControls(defaultData);
        }
    }

    function saveForm(index) {
        if ($('#form').validate().form()) {
            var postData = $('#form').getWebControls({ Id: id });
            ys.ajax({
                url: '@Url.Content("~/OrderManage/OrderTerInput/SaveFormJson")',
                type: 'post',
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }

    function choosePage(filed,hideId,txtId) {
        var url = "";
        var title = "";
        if (filed == "MaterielTxt") {
            url = '@Url.Content("~/OrderManage/OrderMateriel/OrderMaterielIndexSelect")';
            title = "选择物料";
        }
        else if (filed == "BuyTxt") {
            url = '@Url.Content("~/OrganizationManage/User/UserIndexSelect")';
            title = "选择采购人";
        }
        else if (filed == "SupplierTxt") {
            url = '@Url.Content("~/OrderManage/OrderSupplier/OrderSupplierIndexSelect")';
            title = "选择供应商";
        }
        ys.openDialog({
            title: title,
            content: url,
            width: "868px",
            height: "470px",
             callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                 var select_data = iframeWin.chooseUserOK();
                 if (IsNullEmpty(select_data.ids)) {
                    ys.alertError('请先选择用户,再操作');
                }
                else {
                    //设置 操作人
                     $("#" + hideId).val(select_data.ids);
                     $("#" + txtId).val(select_data.txts);
                     layer.close(index);

                }
            }
        });
    }
</script>

