@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

@section header{
    <link href="@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-editable.css")" rel="stylesheet" type="text/css">
    <script src='@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-editable.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-table-editable.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-datepicker.zh-CN.js")' type="text/javascript"></script>
}
<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        设备名称：<input id="terName" col="TerName" type="text" />
                    </li>
                    <li>
                        设备编号：<input id="terName" col="TerNumber" type="text" />
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> 查看转让信息</a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        initGrid();
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/TerManage/TerInfor/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            onEditableSave: onEditableSave,
            columns:[
                    [
                        { title: '基本信息', align: 'center', colspan: 8 },
                        { title: '状态信息', align: 'center', colspan: 4 },
                        { title: '操作人', align: 'center', colspan: 4 }
                    ],
                    [
                    { checkbox: true, visible: true },
                    { field: 'Id', title: 'Id', visible: false },
                    {
                        field: 'TerName', title: '设备名称',
                        editable: {
                            type: 'text',
                            emptytext: "【设备名称】为空",
                            validate: function (value) {
                                if (value.length > 20) {
                                    return '设备名称不能超过20个字符';
                                }
                                if (value.length == 0) {
                                    return '设备名称为空';
                                }

                            }
                        }
                    },
                    {
                        field: 'TerNumber', title: '设备编号',
                        editable: {
                            type: 'text',
                            emptytext: "【设备编号】为空",
                            validate: function (value) {
                                if (value.length > 20) {
                                    return '设备编号不能超过20个字符';
                                }
                                if (value.length == 0) {
                                    return '设备编号不能为空';
                                }
                                else {
                                    if (!CheckIsNumber(value)) {
                                        return '设备编号必须为数字';
                                    }
                                }
                            }
                        }
                        },
                     {
                         field: 'SaleManTxt', title: '业务员',
                        formatter: function (value, row, index) {
                            return "<span>" + value + " <button type=\"button\" class=\"btn btn-primary btn-xs\" onclick=\"setSaleMan('" + row["Id"] + "')\">设 置</button></span>";
                        }
                        },
                        { field: 'Zone', title: '代理区域' },
                     {
                        field: 'ManageTxt', title: '用户',
                        formatter: function (value, row, index) {
                            return "<span>" + value + " <button type=\"button\" class=\"btn btn-primary btn-xs\" onclick=\"setManage('" + row["Id"] + "')\">设 置</button></span>";
                        }
                     },
                   
                    {
                        field: 'IsLock', title: '是否锁定',
                        editable: {
                            type: 'select',
                            source: [{
                                value: 0,
                                text: "否"
                            }, {
                                value: 1,
                                text: "是"
                            }]
                        }
                    },
                    {
                        field: 'IsBuy', title: '是否出货',
                        editable: {
                            type: 'select',
                            source: [{
                                value: 0,
                                text: "否"
                            }, {
                                value: 1,
                                text: "是"
                            }]
                        }
                    },
                    { field: 'WaterNum', title: '累计水量/L' },
                    { field: 'TimeLen', title: '累计时长/天' },
                    { field: 'NetSignal', title: '信号强度' },
                    { field: 'Position', title: '当前位置' },
                    {
                        field: 'BaseCreateTime', title: '创建时间', align: "left",
                        formatter: function (value, row, index) {
                            return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                        }
                    },
                   // { field: 'BaseCreatorTxt', title: '创建人' },
                    {
                        field: 'FistOn', title: '激活时间', align: "left",
                        formatter: function (value, row, index) {
                            return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                        }
                    },
                    { field: 'BaseModifierTxt', title: '修改人' },
                    ]
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function onEditableSave(field, row, oldValue, $el) {
        //alert("字段名：" + field + "，当前值：" + row[field] + "，旧值：" + oldValue);
        var url = '';
        var data = { id: row["Id"], value: row[field] };
        if (field == "TerName") {
            url = '@Url.Content("~/TerManage/TerInfor/ModifyTerName")';
        }
        else if (field == "BusyLink") {
            url = '@Url.Content("~/TerManage/TerInfor/ModifyBusyLink")';
        }
        else if (field == "BusyName") {
            url = '@Url.Content("~/TerManage/TerInfor/ModifyBusyName")';
        }
        else if (field == "IsBuy") {
            url = '@Url.Content("~/TerManage/TerInfor/ModifyIsBuy")';
        }
        else if (field == "IsLock") {
            url = '@Url.Content("~/TerManage/TerInfor/ModifyIsLock")';
        }
        else {
            url = '@Url.Content("~/TerManage/TerInfor/ModifyTerNumber")';
        }
        MoidfyFieldValue(row["Id"], row[field], url);
    }

    /**
     * 修改字段信息
     * id id
     * value_str 值
     * url 当前url
     */
    function MoidfyFieldValue(id,value_str,urls) {
        var data = { id: id, value: value_str};
        ys.ajax({
            url: urls,
            type: 'post',
            data: data,
            success: function (obj) {
                if (obj.Tag == 1) {
                    ys.msgSuccess(obj.Message);
                    searchGrid();
                }
                else {
                    ys.msgError(obj.Message);
                }
            }
        });
    }

    /*设置运营商 */
    function setManage(id) {
         ys.openDialog({
            title:  "设置运营商",
            content: '@Url.Content("~/OrganizationManage/User/UserIndexSelect")',
            width: "968px",
            height: "570px",
             callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                 var select_data = iframeWin.chooseUserOK();
                 if (IsNullEmpty(select_data.ids)) {
                    ys.alertError('请先选择用户,再操作');
                }
                else {
                    //设置 操作人
                    var urls = '@Url.Content("~/TerManage/TerInfor/ModifyManageId")';
                    layer.close(index);
                     MoidfyFieldValue(id, select_data.ids, urls);
                }
            }
        });
    }
     /*设置运营商 */
    function setSaleMan(id) {
         ys.openDialog({
            title:  "设置销售人",
            content: '@Url.Content("~/OrganizationManage/User/UserIndexSelect")',
            width: "968px",
            height: "570px",
             callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                 var select_data = iframeWin.chooseUserOK();
                 if (IsNullEmpty(select_data.ids)) {
                    ys.alertError('请先选择用户,再操作');
                }
                else {
                    //设置 操作人
                    var urls = '@Url.Content("~/TerManage/TerInfor/ModifySaleId")';
                    layer.close(index);
                     MoidfyFieldValue(id, select_data.ids, urls);
                }
            }
        });
    }
    

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $('#gridTable').bootstrapTable('getSelections');
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? '编辑' : '添加',
            content: '@Url.Content("~/TerManage/TerInfor/TerInforForm")' + '?id=' + id,
            width: '768px',
            height: '550px',
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    /**
     *
     * 查看转让信息
     */
    function showZhuanRangData(id) {
         ys.openDialog({
            title: '查看转让信息',
            content: '@Url.Content("~/TerManage/TerTransferRecord/TerTransferRecordIndex")' + '?id=' + id,
            width: '768px',
            height: '550px',
            callback: function (index, layero){ }
        });
    }

    function deleteForm() {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (!ys.checkRowEdit(selectedRow)) {
            return;
        }
        else {
            id = selectedRow[0].Id;
        }
        showZhuanRangData(id);
    }
</script>
