@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-2 control-label ">登录名称<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="userName" col="UserName" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">登录密码<font class="red"> *</font></label>
            <div class="col-sm-4">
                <input id="password" col="Password" type="password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">姓名</label>
            <div class="col-sm-4">
                <input id="realName" col="RealName" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">性别</label>
            <div class="col-sm-4" id="gender" col="Gender"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">生日</label>
            <div class="col-sm-4">
                <input id="birthday" col="Birthday" type="text" class="form-control" />
            </div>

            <label class="col-sm-2 control-label ">部门</label>
            <div class="col-sm-4">
                <div id="departmentId" col="DepartmentId"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">手机</label>
            <div class="col-sm-4">
                <input id="mobile" col="Mobile" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label ">职位</label>
            <div class="col-sm-4">
                <div id="positionId" col="PositionIds"></div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">邮箱</label>
            <div class="col-sm-4">
                <input id="email" col="Email" type="text" class="form-control" />
            </div>
            <label class="col-sm-2 control-label">状态</label>
            <div class="col-sm-4" id="userStatus" col="UserStatus"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">角色</label>
            <div class="col-sm-10" id="role" col="RoleIds"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">上级</label>
            <div class="col-sm-8">
                <input id="parentTxt" col="ParentTxt"  onfocus="this.blur()" type="text" class="form-control" />
                <input type="hidden" id="parentId" col="ParentId" />
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-sm" onclick="setParent()">设 置</button><br />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">代理区域</label>
            <div class="col-sm-8">
                <textarea id="delegetZoneTxt" col="DelegetZoneTxt" onfocus="this.blur()" class="form-control" style="height:60px"></textarea>
                <input type="hidden" id="delegetZoneId" col="DelegetZoneId" />
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-sm" onclick="setZone()">设 置</button><br />
                <button type="button" class="btn btn-default btn-sm" onclick="clearZone()">清 空</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label ">备注</label>
            <div class="col-sm-10">
                <textarea id="remark" class="form-control" style="height:60px"></textarea>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = ys.request("id");
    $(function () {
        $("#userStatus").ysRadioBox({ data: ys.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });
        $("#gender").ysRadioBox({ data: ys.getJson(@Html.Raw(typeof(YiSha.Enum.OrganizationManage.GenderTypeEnum).EnumToDictionaryString())) });

        $("#role").ysCheckBox({
            url: '@Url.Content("~/SystemManage/Role/GetListJson")',
            key: "Id",
            value: "RoleName"
        });

        $("#positionId").ysComboBox({
            url: '@Url.Content("~/OrganizationManage/Position/GetListJson")',
            key: "Id",
            value: "PositionName",
            class: "form-control",
            multiple: true
        });

        $('#departmentId').ysComboBoxTree({ url: '@Url.Content("~/OrganizationManage/Department/GetDepartmentTreeListJson")' });

        laydate.render({ elem: '#birthday', format: 'yyyy-MM-dd' });

        getForm(id);

        $("#form").validate({
            rules: {
                userName: { required: true },
                password: {
                    required: true,
                    minlength: 6,
                    maxlength: 20
                },
                mobile: { isPhone: true},
                email: { email: true}
            }
        });
    });

    function getForm() {
        if (id > 0) {
            $('#password').attr("readonly", "readonly").attr("disabled", "disabled");

            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/User/GetFormJson")' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var result = obj.Data;
                        $("#form").setWebControls(result);
                    }
                }
            });
        }
        else {
            var defaultData = {};
            defaultData.UserName = "";
            defaultData.Password = ""
            defaultData.UserStatus = "@StatusEnum.Yes.ParseToInt()";
            $("#form").setWebControls(defaultData);
        }
    }

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            postData.DepartmentId = ys.getLastValue(postData.DepartmentId);
            ys.ajax({
                url: '@Url.Content("~/OrganizationManage/User/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
        }
    }

    /**设置代理区域 */
    function setZone() {
        ys.openDialog({
            title:  "设置代理区域",
            content: '@Url.Content("~/SystemManage/Area/AreaIndexSelect")',
            width: "868px",
            height: "430px",
             callback: function (index, layero) {
                 var iframeWin = window[layero.find('iframe')[0]['name']];
                 var select_data = iframeWin.getSelectZone();
                 setZoneVaule(select_data);
                 //getSelectZone
                 layer.close(index);
            }
        });

    }

    /**设置上级 */
    function setParent() {
        ys.openDialog({
            title:  "设置上级",
            content: '@Url.Content("~/OrganizationManage/User/UserIndexSelect")' + "?curUserId=" + id,
            width: "868px",
            height: "470px",
             callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                 var select_data = iframeWin.chooseUserOK();
                 if (IsNullEmpty(select_data.ids)) {
                    ys.alertError('请先选择用户,再操作');
                }
                else {
                    //设置 操作人
                     $("#parentId").val(select_data.ids);
                     $("#parentTxt").val(select_data.txts);
                     layer.close(index);
                     
                }
            }
        });

    }
    /*清空区域 */
    function clearZone() {
        $("#delegetZoneTxt").val("");
        $("#delegetZoneId").val("");
    }
    function setZoneVaule(select_data) {
        var delegetZoneTxt = $("#delegetZoneTxt").val();
        var delegetZoneId = $("#delegetZoneId").val();
        if (delegetZoneId != "") {
            $("#delegetZoneTxt").val(delegetZoneTxt+","+select_data.txts);
            $("#delegetZoneId").val(delegetZoneId+","+select_data.ids);
        }
        else {
            $("#delegetZoneTxt").val(select_data.txts);
            $("#delegetZoneId").val(select_data.ids);
        }
    }
</script>
