@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

@section header{
    <link href="@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-editable.css")" rel="stylesheet" type="text/css">
    <script src='@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-editable.min.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-table-editable.js")' type="text/javascript"></script>
    <script src='@Url.Content("~/lib/bootstrap.table/1.12.0/extensions/editable/bootstrap-datepicker.zh-CN.js")' type="text/javascript"></script>
}
<div class="container-div">
    <div class="row">
        <div id="searchDiv" class="col-sm-12 search-collapse">
            <div class="select-list">
                <ul>
                    <li>
                        物料名称：<input id="materielName" col="MaterielName" type="text" />
                    </li>
                    <li>
                        <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchGrid()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group-sm hidden-xs" id="toolbar">
            <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)"><i class="fa fa-plus"></i> 新增</a>
            <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> 修改</a>
            <a id="btnDelete" class="btn btn-danger disabled" onclick="viewDetial(false)"><i class="fa fa-remove"></i> 查看明细</a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        initGrid();
    });

    function initGrid() {
        var queryUrl = '@Url.Content("~/OrderManage/OrderMateriel/GetPageListJson")';
        $('#gridTable').ysTable({
            url: queryUrl,
            onEditableSave: onEditableSave,
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'MaterielName', title: '物料名称' },
                { field: 'MaterielType', title: '型号' },
                { field: 'MaterielDesc', title: '描述' },
                { field: 'MaterielUnite', title: '单位' },
                {
                    field: 'MaterielTotal', title: '当前库存',
                    editable: {
                        type: 'text',
                        emptytext: "库存不能为空",
                        validate: function (value) {
                            if (value.length > 6) {
                                return '库存超过6个字符';
                            }
                            if (value.length == 0) {
                                return '库存不能为空';
                            }
                            else {
                                if (!CheckIsNumber(value)) {
                                    return '必须为数字';
                                }
                            }
                        }
                    }
                },
                {
                    field: 'BaseModifyTime', title: '修改时间', align: "left",
                    formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                },
                {
                    field: 'BaseCreateTime', title: '创建时间', align: "left",
                    formatter: function (value, row, index) {
                        return ys.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                },
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').ysTable('getPagination', params);
                var queryString = $('#searchDiv').getWebControls(pagination);
                return queryString;
            }
        });
    }

    function searchGrid() {
        $('#gridTable').ysTable('search');
        resetToolbarStatus();
    }

    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $('#gridTable').bootstrapTable('getSelections');
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: id > 0 ? '编辑' : '添加',
            content: '@Url.Content("~/OrderManage/OrderMateriel/OrderMaterielForm")' + '?id=' + id,
            width: '768px',
            height: '550px',
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function onEditableSave(field, row, oldValue, $el) {
        //alert("字段名：" + field + "，当前值：" + row[field] + "，旧值：" + oldValue);
        var url = '';
        var data = { id: row["Id"], value: row[field] };
            ModifyMaterielTotal(row["Id"], row[field], "进货补充数量");
    }

    function viewDetial(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $('#gridTable').bootstrapTable('getSelections');
            if (!ys.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        ys.openDialog({
            title: "查看物料明细",
            content: '@Url.Content("~/OrderManage/OrderMaterielDetail/OrderMaterielDetailIndex")' + '?materielId=' + id,
            width: '1068px',
            height: '550px',
            callback: function (index, layero) {
               
            }
        });
    }

    /*追加库存 */
    function ModifyMaterielTotal(id, num, remark) {
        //ModifyMaterielTotal
        var data = { id: id, num: num, remark: remark };
        var urls=
        ys.ajax({
            //ModifyMaterielTotal(string id, string num, string remark)
            url: '@Url.Content("~/OrderManage/OrderMateriel/ModifyMaterielTotal")',
            type: 'post',
            data: data,
            success: function (obj) {
                if (obj.Tag == 1) {
                    ys.msgSuccess(obj.Message);
                    searchGrid();
                }
                else {
                    ys.msgError(obj.Message);
                }
            }
        });
    }

    function deleteForm() {
        var selectedRow = $('#gridTable').bootstrapTable('getSelections');
        if (ys.checkRowDelete(selectedRow)) {
            ys.confirm('确认要删除选中的' + selectedRow.length + '条数据吗？', function () {
                var ids = ys.getIds(selectedRow);
                ys.ajax({
                    url: '@Url.Content("~/OrderManage/OrderMateriel/DeleteFormJson")' + '?ids=' + ids,
                    type: 'post',
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            ys.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            ys.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }
</script>
